In [2]:
import pandas as pd
import numpy as np

In [3]:
file_to_load = "pandas-challenge/HeroesOfPymoli/Resources/HeroesOfPymoli.csv"

In [4]:
data = pd.read_csv(file_to_load)
data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player count

In [5]:
#Total Number of players
print(f"The total number of players is {data['SN'].nunique()}")

The total number of players is 576

## Purchasing Analysis

In [6]:
#Number of unique items
unique_items = data["Item ID"].unique()
print(f"The number of unique items is {len(unique_items)}")
#Average purchase price
print(f"The average purchase price is {round(data['Price'].mean(),2)}")
#Total number of purchases
#Total Revenue
print(f"The total revenue is {data['Price'].sum()}")

The number of unique items is 183
The average purchase price is 3.05
The total revenue is 2379.77

## Gender Demographics

In [7]:
females = data[data['Gender']=='Female']
print(f"There is a total of {females['Gender'].count()} women")
print(f"The percentage of females is {round((females['Gender'].count()/data['Gender'].count())*100,2)} % ")
males = data[data['Gender']=='Male']
print(f"There is a total of {males['Gender'].count()} men")
print(f"The percentage of males is {round((males['Gender'].count()/data['Gender'].count())*100,2)} % ")
others = data[(data['Gender']!='Female') & (data['Gender']!='Male')]
print(f"There is a total of {others['Gender'].count()} non-specific gender players")
print(f"The percentage of non-specific gender players is {round((others['Gender'].count()/data['Gender'].count())*100,2)} % ")

There is a total of 113 women
The percentage of females is 14.49 %
There is a total of 652 men
The percentage of males is 83.59 %
There is a total of 15 non-specific gender players
The percentage of non-specific gender players is 1.92 %

## Age demographics

In [8]:
#Separate each player per age group
bins = [0,10,14,19,23,27,31,35,39,43,47]
group_names = ["<10","(10,14]","(14,19]","(19,23]","(23,27]","(27,31]","(31,35]","(35,39]","(39,43]","(43,47]"]
data["Age Group"] = pd.cut(data["Age"], bins, labels=group_names)
data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,"(19,23]"
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,"(39,43]"
2,2,Ithergue48,24,Male,92,Final Critic,4.88,"(23,27]"
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,"(23,27]"
4,4,Iskosia90,23,Male,131,Fury,1.44,"(19,23]"

In [17]:
grouped_data = data.groupby("Age Group")
#Purchase count
print("Purchase count")
print(grouped_data["Purchase ID"].count())
#Average Purchase Price
print("Average Purchase Price")
print(round(grouped_data["Price"].mean(),2))
#Total Purchase Value
print("Total Purchase Value")
print(round(grouped_data["Price"].sum(),2))
#Average Purchase Total per Person by Age Group
print("Average Purchase Total per Person by Age Group")
print(round(grouped_data["Price"].sum()/grouped_data['SN'].nunique(),2))

Purchase count
Age Group
<10         32
(10,14]     19
(14,19]    136
(19,23]    298
(23,27]    150
(27,31]     60
(31,35]     45
(35,39]     27
(39,43]     10
(43,47]      3
Name: Purchase ID, dtype: int64
Average Purchase Price
Age Group
<10        3.40
(10,14]    2.68
(14,19]    3.04
(19,23]    3.03
(23,27]    3.06
(27,31]    2.97
(31,35]    2.93
(35,39]    3.54
(39,43]    3.12
(43,47]    2.35
Name: Price, dtype: float64
Total Purchase Value
Age Group
<10        108.96
(10,14]     50.95
(14,19]    412.89
(19,23]    903.84
(23,27]    459.54
(27,31]    178.05
(31,35]    131.66
(35,39]     95.64
(39,43]     31.18
(43,47]      7.06
Name: Price, dtype: float64
Average Purchase Total per Person by Age Group
Age Group
<10        4.54
(10,14]    3.40
(14,19]    3.86
(19,23]    4.30
(23,27]    4.14
(27,31]    4.05
(31,35]    4.11
(35,39]    4.55
(39,43]    3.46
(43,47]    2.35
dtype: float64

## Top Spenders

In [66]:
grouped_data2 = data.groupby("SN")
precios = grouped_data2['Price'].sum()
inter = precios.sort_values(ascending = False).head(5)
nombres = inter.index.values.tolist()

[18.96, 15.45, 13.83, 13.619999999999997, 13.1]

In [86]:
spenders = data[(data['SN']==nombres[0]) | (data['SN']==nombres[1]) | (data['SN']==nombres[2]) | (data['SN']==nombres[3]) | (data['SN']==nombres[4])]
grouped_spenders = spenders.groupby("SN")
app = grouped_spenders["Price"].mean()
average_purchase_price = [app[4],app[1],app[0],app[2],app[3]]
purchase_count = [grouped_spenders["Price"].count()[4],grouped_spenders["Price"].count()[1],grouped_spenders["Price"].count()[0],
                 grouped_spenders["Price"].count()[2],grouped_spenders["Price"].count()[3]]
total_purchase_value = [inter[0],inter[1],inter[2],inter[3],inter[4]]
table_spenders = {'Names': nombres, 'Purchase_count': purchase_count, 'Average_purchase_price': average_purchase_price,'Total_purchase_value': total_purchase_value}
table_spenders = pd.DataFrame(table_spenders)
table_spenders

         Names  Purchase_count  Average_purchase_price  Total_purchase_value
0    Lisosia93               5                3.792000                 18.96
1  Idastidru52               4                3.862500                 15.45
2   Chamjask73               3                4.610000                 13.83
3       Iral74               4                3.405000                 13.62
4  Iskadarya95               3                4.366667                 13.10

## Most popular items

In [138]:
popular_items = data.groupby('Item Name')
popular = popular_items["Item Name"].count()
most_popular = popular.sort_values(ascending = False).head(5)
names = most_popular.index.values.tolist()
most_popular_items = data[(data['Item Name']==names[0]) | (data['Item Name']==names[1]) | (data['Item Name']==names[2]) |
                          (data['Item Name']==names[3]) | (data['Item Name']==names[4])]
print(names)
most_popular_items_grouped = most_popular_items.groupby('Item Name')
most_popular_items_grouped['Item ID'].unique()
item_id = [ most_popular_items_grouped['Item ID'].unique()[1], most_popular_items_grouped['Item ID'].unique()[3],
          most_popular_items_grouped['Item ID'].unique()[2],most_popular_items_grouped['Item ID'].unique()[4],
          most_popular_items_grouped['Item ID'].unique()[0]]
purchase_count = most_popular_items_grouped['Item Name'].count()
purchase_countf = [purchase_count[1], purchase_count[3],purchase_count[2],purchase_count[4],purchase_count[0]]
price = [most_popular_items_grouped['Price'].mean()[1],most_popular_items_grouped['Price'].mean()[3],
        most_popular_items_grouped['Price'].mean()[2],most_popular_items_grouped['Price'].mean()[4],
        most_popular_items_grouped['Price'].mean()[0]]
total_purchase_value = [most_popular_items_grouped['Price'].sum()[1],most_popular_items_grouped['Price'].sum()[3],
                       most_popular_items_grouped['Price'].sum()[2],most_popular_items_grouped['Price'].sum()[4],
                       most_popular_items_grouped['Price'].sum()[0]]
table_mpi = {'Item ID': item_id,'Item Name':names,'Purchase count':purchase_countf,'Price':price,'Total purchase value': total_purchase_value}
table_mpi = pd.DataFrame(table_mpi)
table_mpi

['Final Critic', 'Oathbreaker, Last Hope of the Breaking Storm', 'Nirvana', 'Persuasion', 'Fiery Glass Crusader']

,Item ID,Item Name,Purchase count,Price,Total purchase value
0,"[92, 101]",Final Critic,13,4.614615,59.99
1,[178],"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
2,[82],Nirvana,9,4.900000,44.10
3,"[141, 132]",Persuasion,9,3.221111,28.99
4,[145],Fiery Glass Crusader,9,4.580000,41.22

## Most Profitable Items

In [153]:
general_profits = popular_items['Price'].sum()
most=general_profits.sort_values(ascending = False).head(5)
names1 = most.index.values.tolist()
print(names1)
most_profitable_items = data[(data['Item Name']==names1[0]) | (data['Item Name']==names1[1]) | 
                            (data['Item Name']==names1[2]) | (data['Item Name']==names1[3]) | 
                            (data['Item Name']==names1[4])]
most_profitable_items_grouped = most_profitable_items.groupby('Item Name')
most_profitable_items_grouped['Item ID'].unique()
item_id1 = [ most_profitable_items_grouped['Item ID'].unique()[1], most_profitable_items_grouped['Item ID'].unique()[3],
            most_profitable_items_grouped['Item ID'].unique()[2],most_profitable_items_grouped['Item ID'].unique()[0],
            most_profitable_items_grouped['Item ID'].unique()[4]]
purchase_count1 = most_profitable_items_grouped['Item Name'].count()
purchase_countf1 = [purchase_count1[1], purchase_count1[3],purchase_count1[2],purchase_count1[0],purchase_count1[4]]
total_purchase_value1 = [most_profitable_items_grouped['Price'].sum()[1],most_profitable_items_grouped['Price'].sum()[3],
                       most_profitable_items_grouped['Price'].sum()[2],most_profitable_items_grouped['Price'].sum()[0],
                       most_profitable_items_grouped['Price'].sum()[4]]
price1 =  [most_profitable_items_grouped['Price'].mean()[1],most_profitable_items_grouped['Price'].mean()[3],
                       most_profitable_items_grouped['Price'].mean()[2],most_profitable_items_grouped['Price'].mean()[0],
                       most_profitable_items_grouped['Price'].mean()[4]]
tablempi =  {'Item ID': item_id1,'Item Name':names1,'Purchase count':purchase_countf1,'Price':price1,'Total purchase value': total_purchase_value1}
tablempi = pd.DataFrame(tablempi)
tablempi

['Final Critic', 'Oathbreaker, Last Hope of the Breaking Storm', 'Nirvana', 'Fiery Glass Crusader', 'Singed Scalpel']

,Item ID,Item Name,Purchase count,Price,Total purchase value
0,"[92, 101]",Final Critic,13,4.614615,59.99
1,[178],"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
2,[82],Nirvana,9,4.900000,44.10
3,[145],Fiery Glass Crusader,9,4.580000,41.22
4,[103],Singed Scalpel,8,4.350000,34.80